@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Product Management</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Choose the action you want to perform</h2>
        <ul>
            <li>@Html.ActionLink("List Categories", "Index", "Category")</li>
            <li>@Html.ActionLink("Create New Category", "Create", "Category")</li>
            <li>@Html.ActionLink("List Products", "Index", "Product")</li>
            <li>@Html.ActionLink("Create New Product", "Create", "Product")</li>
        </ul>
    </div>
</div>